/**
 * Buttons
 */

.btn {
  transition: background-color 0.3s;

  &.btn-download {
    display: inline-block;
    border: 1px solid #CBCDCF;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 30px;

    &:hover {
      background-color: #FFF;
    }
  }

  &.btn-link {
    color: #FFF;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 4px;
    background-color: $primary-green;

    &:hover {
      text-decoration: none;
      background-color: lighten($primary-green, 3);
    }
  }
}
