/**
 * Buttons
 */

.btn {

  &.btn-download {
    display: inline-block;
    border: 1px solid #CBCDCF;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 30px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #FFF;
    }
  }
}
