/**
 * Timeline
 */

.experience-list {

  // Timeline
  &:after {
    content:'';
    width: 5px;
    background-color: rgba($primary-green, 0.2);
    display: block;
    position: absolute;
    top: 20%;
    left: 0;
    bottom: 25%;
    right: 0;
    margin: auto;
    z-index: -1;
    @media only screen and (min-width: $mobile-width) {
      bottom: 35%;
    }
  }
}
.experience-item {

  .experience-item-inner {
    position: relative;
    padding: 10px;
    background-color: #FFF;
    border-top: 4px solid $primary-green;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

    @media only screen and (min-width: $mobile-width) {
      // Spot indicator
      &:after {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: block;
        background-color: $primary-green;
        position: absolute;
        border: 2px solid $gallery-grey;
        z-index: 1;
      }

      // Arrow
      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        box-sizing: border-box;

        border: 0.7em solid black;
        border-color: transparent transparent #FFF #FFF;

        transform-origin: 0 0;
        box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

  &:nth-child(odd) {
    clear: left;

    @media only screen and (min-width: $mobile-width) {
      padding-right: 30px;
    }

    .experience-item-inner {

      &:after {
        top: 13%;
        right: -37.5px;
      }
      &:before {
        top: 25%;
        left: 100%;
        transform: rotate(-135deg);
      }
    }
  }

  &:nth-child(even) {
    clear: right;

    @media only screen and (min-width: $mobile-width) {
      padding-left: 30px;
    }

    .experience-item-inner {
      &:after {
        top: 43%;
        left: -37.5px;
      }
      &:before {
        top: 40%;
        left: 0;
        transform: rotate(45deg);
      }
    }
  }
}
