/**
 * Footer
 */

.footer {
  clear: both;

  &.footer-hero {
    background-color: $primary-green;
    text-align: center;

    a {
      color: #FFF;
      padding: 15px;
      font-size: 1.5em;
    }
  }

  &.footer-page {
    text-align: center;

    a {
      padding: 15px;
      color: #ccc;
    }
  }
}
