/**
 * Form
 */

.form {

  &.stacked-form {
    label,
    textarea,
    input {
      &:not([type='submit']) {
        width: 100%;
      }
    }
    textarea,
    input {
      &:not([type='submit']) {
        border: 1px solid #ccc;
        padding: 10px;
      }
    }
    textarea {
      resize: none;
      height: 10em;
    }
  }

  .field {
    margin-bottom: 10px;
  }
}
