/**
 * Form
 */

.form {

  &.stacked-form {
    label,
    textarea,
    input {
      &:not([type='submit']) {
        width: 100%;
      }
    }
    textarea,
    input {
      &:not([type='submit']) {
        border: 1px solid #ccc;
        padding: 10px;
      }

      &:focus {

        + label {
          top: -20px;
        }
      }

      &.parsley-error {
        border-color: red;
      }
    }
    label {
      position: absolute;
      top: 10px;
      left: 10px;
      pointer-events: none;
      font-weight: normal;
      color: #bbb;
      transition: 0.3s;
    }
    textarea {
      resize: none;
      height: 10em;
    }
  }

  .field {
    position: relative;
    margin-bottom: 20px;
  }
}
