/**
 * Header
 */

.header {
  padding-top: 53px;

  @media only screen and (min-width: 960px) {
    margin-bottom: 50px;
  }

  .bg-header {
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4c545f;
  }
}
