/**
 * Hero
 */

.hero {

  &.main-hero {
  	position: relative;
    width: 100%;
    max-width: 960px;
    margin: auto;
    z-index: 2;
  }
  .hero-inner-content {
    padding: 50px;
    background-color: #FFF;
  }
}
