/**
* Image
*/
.image {
  position: relative;

  &.profile-image {

    img {
      width: 100%;
    }
    @media only screen and (max-width: 480px) {
      clip-path: circle(43% at 50%);
    }
  }
}
