/**
 * List
 */

.list {
  margin: 0;
  padding: 0;

  li {

    a {
      display: block;
    }
  }

  &.horizontal-list {

    li {
      display: inline-block;
    }
  }
  &.vertical-list {

    li {
      display: block;
    }
  }

  &.dl-list {

    @media only screen and (min-width: 480px) {
      dt {
        display: inline-block;
        width: 33.33%;
      }
      dd {
        display: inline-block;
        width: 66.66%;
      }
    }
  }

  &.social-list {
    .main-hero & {
      a {
        border-radius: 50%;
        margin: 10px;
        transition: 0.3s;

        &:hover {
          background-color: lighten($primary-green, 5%);
        }
      }
    }
  }

  &.stacked-list {

    dt, dd {
      display: block;
    }
    dt {
      margin-bottom: 2px;
    }
    dd {
      margin-bottom: 10px;
    }
  }

  &.experience-list {

    li {

      &:nth-child(2n) {
        padding-right: 0;
      }
    }
  }
}
