/**
 * Portfolio
 */
#portfolio {
    }
  }
}
.portfolio-item {
  width: 100%;

  .portfolio-image-list,
  .portfolio-item-inner {
    width: 100%;

    @media only screen and (min-width: $mobile-width) {
      width: 50%;
      float: left;
    }
  }
  .portfolio-image-list {
  }

  .image {

    img {
      width: 100%;
    }
  }
}
