/**
 * Section
 */

.section {
  padding: 20px;
  margin: 40px 0;
  float: left;
  width: 100%;
  clear: both;

  &#experience {
    position: relative;
    padding: 0;
  }
}

.has-shadow {
  background-color: #FFF;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
