/**
 * Professional Skills
 */

[data-percentage] {
  position: relative;
  background-color: rgba($primary-green, 0.2);
}

// Creates width for every percentage value
@for $i from 1 through 100 {
  [data-percentage="#{$i}"] {
    &:before {
      content: '';
      width: percentage($i/100);
      height: 5px;
      display: block;
      background-color: $primary-green;
    }
    &:after {
      content: attr(data-percentage)'%';
      position: absolute;
      top: -20px;
      right: 0;
      line-height: 1;
    }
  }
}
