@import 'variables';

@import 'fontello';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'col';
@import 'image';
@import 'btn';
@import 'list';
@import 'form';
@import 'speech-bubble';
@import 'skills';
@import 'hero';
@import 'experience';
@import 'section';
@import 'footer';
@import 'header';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: $gallery-grey;
}

.container {
  max-width: 960px;
}

.cta-banner {
  text-align: center;
  margin: 20px 0;
}

.hideme {
  opacity: 0;
}
